<section class=" text-center text-lg-start">
   
  <div class="card mb-3">
    <div class="row g-0 d-flex align-items-center">
      <div class="col-lg-4 d-none d-lg-flex">
        <img src="https://mdbootstrap.com/img/new/ecommerce/vertical/004.jpg" alt="Trendy Pants and Shoes"
          class="w-100 rounded-t-5 rounded-tr-lg-0 rounded-bl-lg-5" />
      </div>
      <div class="col-lg-8">
        <div class="card-body py-5 px-md-5">

          <form [formGroup]="loginForm">
            <!-- Email input -->
            <div class="form-outline mb-4" [class.error]="loginForm.controls['username'].dirty && loginForm.hasError('required','username')">
              <label class="form-label" for="form2Example1">User Name :</label>
              <input formControlName="username" type="email" id="form2Example1" class="form-control" />
              <small class="text-danger" *ngIf="loginForm.controls['username'].dirty && loginForm.hasError('required','username')">*UserName is required for this operations</small>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4" [class.error]="loginForm.controls['password'].dirty && loginForm.hasError('required','password')" >
              <label class="form-label" for="form2Example2">Password :</label>
              <input formControlName="password" type="password" id="form2Example2" class="form-control" />
              <small class="text-danger" *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required','password')">*password is required for this operations</small>
            </div>



            <!-- Submit button -->
            <button type="button"  class="btn btn-primary btn-block mb-4"(click)="Onlogin()" >Sign in</button>


                         <!-- 2 column grid layout for inline styling -->
                         <div class="row mb-4">
            
                          <div class="col">
                            <!-- Simple link -->
                            <!-- <a [routerLink]="['/signup']">Sign Up</a> -->
                            <a>Don't have account?</a>
                            <a routerLink="/signup">Sign Up</a> 
                          </div>
                        </div>

          </form>

        </div>
      </div>
    </div>
  </div>
</section>

