        <div class="container">
            <div class="row p-3 mb-2 bg-primary text-white">
                    <div class="col-sm-8">
                        <div class="pt-5 pb-4">
                               <h1>Learn Practice and apply</h1>
                               <p class="pb-4">
                                Get the skill that you need to transform for your career and be step ahead!!
                               </p>
                               <p>
                                <a href="#heading" class="btn-btn-primary">Start learning Now</a>
                               </p>
                        </div>
                    </div>
                     <div class="col-sm-4 pt-5">
                        <img src="assets/Images/Dotnet.png" class="img-fluid">
                     </div>
            </div>
       </div>
